.bowfolio-green {
  color:  #376551;
}

.landing-green-background {
  background-color: #376551;
  color: white;
}

.landing-white-background {
  background-color: white;
  color: #376551;
  padding-top: 20px;
}

.reset-margins {
  margin-top: 0;
  margin-bottom: 0;
}

.home-landing-background {
  background: url('images/manoa-valley.jpg') no-repeat center center fixed;
  background-size: cover;

}

.transparency {
  background-color: rgba(0, 0, 0, 0.45);
}

.ui.menu.menu-background {
  background-color: #376551;
}

.min-height {
  min-height: 535px;
}

.ui.small.label.label-format {
  margin: 0.25em;
}

.ui.centered-cards {
  padding-top: 100px;
}

.ui.container.filter-format {
  padding-bottom: 2.0em;
}

.ui.compact.selection.dropdown.selection-format {
  margin-bottom: 1.45em;
  margin-right: 1.0em;
}

.student-profile-page-grids {
  padding-bottom: 30px;
}

.ui.big.label.student-profile-page-interests-label {
  margin: 5px;
}

.column.student-profile-page-border {
  border: 2px solid white;
  border-radius: 10px;
}

.ui.container.student-profile-page-border {
  padding: 25px;
  border: 2px solid white;
  border-radius: 10px;
}
.company-profile-page-grids {
  padding-top: 30px;
  padding-bottom: 30px;
}

.ui.big.label.company-page-interests-label {
  margin: 5px;
}

.column.company-profile-page-border {
  border: 2px solid white;
  border-radius: 10px;
}

.ui.container.company-profile-page-border {
  position: relative;
  padding: 30px;
  border: 2px solid white;
  border-radius: 10px;
}